{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}
    <img src="{{ asset('/images/flag-france.png') }}" alt="France Flag" class="h-32 mt-12 rounded shadow-md" width=200>
    
    <h1 class="mt-5 text-3xl font-semibold text-indigo-600">Hello from France!</h1>
    
    <p class="text-lg text-gray-800">It's currently {{ 'now'|date('h:i A') }}.</p>
{% endblock %}