{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}
    <img src="{{ asset('/images/flag-france.png') }}" alt="France Flag" width=200>
    <h1>Hello from France!</h1>

    <p>It's currently {{ 'now'|date('h:i A') }}.</p>
{% endblock %}